{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<h2 class="text-white" >Admin Home</h2>
<p class="text-white" >Welcome back, {{ username }}!</p>
  <!-- Shows all the posts in the database -->
  {% for message in allmessages %}
  <div class="row justify-content-center"> 
      <div class ="col-8 ">
          <td><a href="/view_post/{{message['message_id']}}" type="button" class="btn btn-secondary">{{message['title']}}</a></td>
          <p class="text-md-center text-white">{{message['content']}}</p>
        </div>
    {% endfor %} 

{% endblock %}