{% extends 'layout.html' %}

{% block title %}Change access{% endblock %}

{% block content %}

<!-- Lists all the users and the options to change their access -->

<div class="container text-center">
    <div class = "row justify-content-center">
        <h2 class="text-center text-white">Change Access</h2>
        <br>
        <br>
        <table class="table table-hover table-bordered table-sm bg-success">
            <thead class="thead-dark">
                <tr>
                    <div class = "col-auto">
                        <th class="text-center ">Last Name</th>
                    </div>
                    <div class = "col-auto">
                        <th class="text-center ">First Name</th>
                    </div>
                    <div class = "col-auto">
                      <th class="text-center ">Username</th>
                  </div>
                    <div class = "col-auto">
                        <th class="text-center ">Email Address</th>
                    </div>
                    <div class = "col-auto">
                        <th class="text-center ">Role</th>
                    </div>
                    <div class = "col-auto">
                        <th class="text-center ">Change Role</th>
                    </div>
                    <div class = "col-auto">
                        <th class="text-center ">Status</th>
                    </div>
                    <div class = "col-auto">
                        <th class="text-center ">Change Status</th>
                    </div>
                </tr>
            </thead>
            <!-- loop through all the users to display the data -->
            {% for user in userlist %}
                <tr> 
                  <div class = "col-auto">
                    <td class="text-center ">{{user['last_name']}}</td>
                  </div>
                  <div class = "col-auto">
                    <td class="text-center ">{{user['first_name']}}</td>
                  </div>
                  <div class = "col-auto">
                      <td class="text-center ">{{user['username']}}</td>
                    </div>
                    <div class = "col-auto">
                      <td class="text-center ">{{user['email']}}</td>
                    </div>
                    <div class = "col-auto">
                        <td class="text-center ">{{user['role']}}</td>
                      </div>
                    <div class = "col-auto">
                        <td class="text-center "><a href="/access/role/{{user['user_id']}}" type="button" class="btn btn-secondary">Change Role</a></td>
                      </div>
                      <div class = "col-auto">
                        <td class="text-center ">{{user['status']}}</td>
                      </div>
                      <div class = "col-auto">
                          <td class="text-center "><a href="/access/status/{{user['user_id']}}" type="button" class="btn btn-secondary">Change Status</a></td>
                      </div>
                                     
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}




