{% extends 'layout.html' %}

{% block title %}Change Status{% endblock %}

{% block content %}

  
<form action="/access/status/{{userid}}" method="post" autocomplete="off">
	<div class="container text-center">
		<div class = "row justify-content-center">
			<h2 class="text-center">Change Status</h2>
			<div class="col-auto">
				<!-- Select the status from a dropdown list-->			
				<label for="dropdown">Select a status:</label>
				<select id="dropdown" name="status">
					<option value="'active'" {% if account['status']== 'active' %} selected {% endif %}>active</option>
					<option value="'inactive'" {% if account['status']== 'inactive' %} selected {% endif %}>inactive</option>
				</select>
				<div class = "col-auto">
					<br>
					<input class="btn btn-secondary" type="submit" value="Change Status"/>
				</div>
			</div>
		</div>
	</div>
</form>

{% endblock %}
