<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"> -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	</head>
	<body class = "bg-success">
		
		<nav class="navbar navbar-expand-lg bg-body-secondary rounded sticky-top" aria-label="TMB navbar">
			<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarscg" aria-controls="navbarscg" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<!-- The navbar shows the links of the functions which are available to the role of the current user, changes depending on whether the user is a member, a moderator or an admin.  -->
			<div class="collapse navbar-collapse justify-content-md-end" id="navbarscg">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="{% if user_role == 'admin' %}{{ url_for('admin_home') }}{% elif user_role == 'moderator' %}{{ url_for('moderator_home') }}{% elif user_role == 'member' %}{{ url_for('member_home') }}{% endif %}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('profile') }}"><i class="bi bi-person-circle"></i>Profile</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('create_post') }}"><i class="fas fa-user-circle"></i>Create Post</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('delete_post') }}"><i class="fas fa-user-circle"></i>Delete Post</a>
					</li>

					{% if user_role == 'admin' %}
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('moderation') }}"><i class="fas fa-user-circle"></i>Moderation</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('search_users') }}"><i class="fas fa-user-circle"></i>Search Users</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('change_access') }}"><i class="fas fa-user-circle"></i>Change Access</a>
					</li>
					{% endif %}
					
					{% if user_role == 'moderator' %}
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('moderation') }}"><i class="fas fa-user-circle"></i>Moderation</a>
					</li>
					{% endif %}

					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
					</li>
				</ul>
			</div>
			</div>
		</nav>  
		<div class="content">
			<header>
				{% block header %}{% endblock %}
			  </header>
			  {% for message in get_flashed_messages() %}
				<div class="flash">{{ message }}</div>
			  {% endfor %}
			{% block content %}{% endblock %}
		</div>
	<!-- JavaScript Bundle with Popper -->
	<script> 
		// Example starter JavaScript for disabling form submissions if there are invalid fields
		(() => {
		'use strict'
		
		// Fetch all the forms we want to apply custom Bootstrap validation styles to
		const forms = document.querySelectorAll('.needs-validation')
		
		// Loop over them and prevent submission
		Array.from(forms).forEach(form => {
			form.addEventListener('submit', event => {
			if (!form.checkValidity()) {
				event.preventDefault()
				event.stopPropagation()
			}
		
			form.classList.add('was-validated')
			}, false)
		})
		})()
	</script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	</body>
</html>