{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}


<!-- Shows the user's data -->
<div class="container text-center">
    <div class = "row justify-content-center">
        <h2 class="text-center text-white">Profile Page</h2>
        <br>
        <br>
        <div class = "col-5">
            <form action="/profile" method="POST">
                <input class="btn btn-secondary" type="submit" name="editprofile" value="Edit Profile"/>
            <br>
            <input class="btn btn-secondary" type="submit" name="changepassword" value="Change Password"/>
            <br>
            <input class="btn btn-secondary" type="submit" name="changeimage" value="Change Image"/>
            <br>
            <input class="btn btn-secondary" type="submit" name="removeimage" value="Remove Image"/>
            <br>
            </form>
            
        </div>
        <div class = "col-auto">
            <img src="{{ profileimage }}" alt="ProfileImage" height="128px" width="128px">
        </div>
        <div class = "col-5">
            <table>
                <tr>
                    <td class="text-center text-white">Username:</td>
                    <td class="text-center text-white">{{ account['username'] }}</td>
                </tr>
                <tr>
                    <td class="text-center text-white">Email:</td>
                    <td class="text-center text-white">{{ account['email'] }}</td>
                </tr>
                <tr>
                    <td class="text-center text-white">First Name:</td>
                    <td class="text-center text-white">{{ account['first_name'] }}</td>
                </tr>
                <tr>
                    <td class="text-center text-white">Last Name:</td>
                    <td class="text-center text-white">{{ account['last_name'] }}</td>
                </tr>
                <tr>
                    <td class="text-center text-white">Birth Date:</td>
                    <td class="text-center text-white">{{ account['birth_date'] }}</td>
                </tr>
                <tr>
                    <td class="text-center text-white">Location:</td>
                    <td class="text-center text-white">{{ account['location'] }}</td>
                </tr>
                <tr>
                    <td class="text-center text-white">Profile Image:</td>
                    <td class="text-center text-white">{{ account['profile_image'] }}</td>
                </tr>
                <tr>
                    <td class="text-center text-white">Role:</td>
                    <td class="text-center text-white">{{ account['role'] }}</td>
                </tr>
                <tr>
                    <td class="text-center text-white">Status:</td>
                    <td class="text-center text-white">{{ account['status'] }}</td>
                </tr>
                <tr>
        </div>
        
    </div>
    
     
        
    
    
</div>

{% endblock %}