{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Profile Page</h2>
<div>
    <p>Your account details are below:</p>
    <table>
        <img src="{{ profileimage }}" alt="Mike" height="240px" width="300px"></center>
        <tr>
            <td>Username:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td>{{ account['first_name'] }}</td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td>{{ account['last_name'] }}</td>
        </tr>
        <tr>
            <td>Birth Date:</td>
            <td>{{ account['birth_date'] }}</td>
        </tr>
        <tr>
            <td>Location:</td>
            <td>{{ account['location'] }}</td>
        </tr>
        <tr>
            <td>Profile Image:</td>
            <td>{{ account['profile_image'] }}</td>
        </tr>
        <tr>
            <td>Role:</td>
            <td>{{ account['role'] }}</td>
        </tr>
        <tr>
            <td>Status:</td>
            <td>{{ account['status'] }}</td>
        </tr>
        <tr>
            <form action="/profile" method="POST">
                <div class = "col-auto">
                    <br>
                    <input class="btn btn-secondary" type="submit" name="editprofile" value="Edit Profile"/>
                </div>
                <div class = "col-auto">
                    <br>
                    <input class="btn btn-secondary" type="submit" name="changepassword" value="Change Password"/>
                </div>
                <div class = "col-auto">
                    <br>
                    <input class="btn btn-secondary" type="submit" name="changeaccess" value="Change Access"/>
                </div>
            </form>
        </tr>
        
        

    </table>
</div>
{% endblock %}