{% extends "layout.html" %}

{% block content %}
<!-- Displays the post along with the replies, with the option to create a new reply -->
<div class ="container justify-content-center">
    <div class="row justify-content-center">
        <h2 class="text-center text-white">View Post</h2>
        <br>
        <br>
        <div class="col-8"><h2 class="text-center text-white">{{messagedata['title']}}</h2></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto"><h6 class="fst-italic text-white">{{messagedata['username']}}</h2></div>
        <div class="col-auto"><h6 class="fst-italic text-white">{{messagedata['created_at']}}</h2></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8"><p class="text-start text-white">{{messagedata['content']}}</p></div>
    </div>

</div>

{% for reply in replydata %}
<div class ="container justify-content-center">
    <div class="row justify-content-center">
        <div class="col-8"><h2 class="text-center text-white">{{reply['title']}}</h2></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto"><h6 class="fst-italic text-white">{{reply['username']}}</h2></div>
        <div class="col-auto"><h6 class="fst-italic text-white">{{reply['created_at']}}</h2></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8"><p class="text-start text-white">{{reply['content']}}</p></div>
    </div>

</div>
{% endfor %}
<br>
    <form action='/view_post/{{messageid}}' method="POST" class="row needs-validation">
    
            <div class="container text-center">
                <div class = "row justify-content-center">
                    <input type = "hidden" name = "messagedata" value="{{messagedata}}"/>
                    <input type = "hidden" name = "messageid" value="{{messageid}}"/>
                    <div class="col-6">
                        <label for="content" class="form-label text-white">Reply</label>
                        <textarea class="form-control" id="content" name="content" rows="10"></textarea>
                        <div class="invalid-feedback">
                            Please enter content
                        </div>  
                      </div>
                    
                    <div class = "col-auto">
                        <br>
                        <input class="btn btn-secondary" type="submit" name="reply" value="Reply"/>
                    </div>
                </div>
            </div>   
    </form>

{% endblock %}